extends layout

block content
  h2 Amministrazione del Blog

  // Link per aggiungere un nuovo post
  a(href='/admin/new') Aggiungi Nuovo Post

  if dati.length > 0
    // Elenco dei post con opzione di cancellazione
    each post in dati
      div
        h3= post.title
        p= post.content
        a(href= "/admin/elimina/" + post.id) Cancella
        a(href= "/admin/modifica/" + post.id) Modifica 

  else
    p Nessun post presente