doctype html
html
  head
    title Blog
    link(rel="stylesheet", href="/styles/layout.css")
    block head
  body
    header
      h1 Blog del ridere, blog dell'ilarità
    .container
      block content
