html
  head
    title Modifica post
    link(rel="stylesheet", href="/styles/style_inser-post.css")
  body
    h1 Modifica post
    
  form(action='/admin/modifica/'+post.id, method='POST')
    label(for='title') Titolo:
    input(type='text', id='title', name='title', required, value=post.title)
    br
    label(for='content') Contenuto:
    textarea(id='content', name='content', required)= post.content

    br
    input(type='submit', value='Invia')


