body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-top: 20px;
    color: #666;
  }
  
  input[type='text'],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Per assicurarsi che padding e bordi siano inclusi nella larghezza */
  }
  
  textarea {
    height: 150px;
  }
  
  input[type='submit'] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type='submit']:hover {
    background-color: #4cae4c;
  }
  
  br {
    margin-bottom: 20px;
  }
  